/* https://coolors.co/404e5c-4f6272-f9f8f8-f2a900-d00000 */
/* 
Red: #D00000
Orange: #F2A900
White: #F9F8F8
Dark-coral: #4F6272
Charcoal: #404E5C
*/

.App {
  margin: 1% auto;
  text-align: center;
}

.header {
  width: 60%;
  margin: 1% auto;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #F2A900;
  border-radius: 10px;
  padding-bottom: 0.5%;
}

.header-section {
  width: 70%;
  margin: 1% auto;
  display: flex;
  justify-content: space-around;
}

span {
  text-decoration: underline;
}

/* Button styles start */
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #F2A900;
	border: none;
	padding: 0.5rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pandora {
	background: grey;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
}

.button--pandora span {
	display: block;
	padding: 0.5rem 1rem;
	border: 2px solid black;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
	background: #F2A900;
  text-decoration: none;
}

.button--pandora:hover span {
	transform: translate3d(-8px, -8px, 0);
}

/* Button styles end */

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro {
  width: 80%;
  margin: 1% auto;
  border-top: 2px solid #404E5C;
  margin-bottom: 0%;
}

/* Chatbot */
.chat-input {
	margin: 1% auto;
	width: 40%;
	padding: 0.5%;
}