/* https://coolors.co/404e5c-4f6272-f9f8f8-f2a900-d00000 */
/* 
Red: #D00000
Orange: #F2A900
White: #F9F8F8
Dark-coral: #4F6272
Charcoal: #404E5C
*/

.chat-window {
    margin: 1% auto;
    border: 4px solid #F2A900;
    border-top: 45px solid #F2A900;
    border-radius: 25px;
    background: #4F6272;
    padding: 0.5%;
    padding-left: 0%;
    padding-right: 0%;
    width: 80%;
}

.chat-form {
    width: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 4px solid #F2A900;
    border-radius: 35px;
    padding-top: 1%;
}

.chat-button-container {
    width: 80%;
    margin: 0.2% auto;
    display: flex;
    flex-direction: row;
}

.chat-input {
	margin: 0% auto;
	width: 85%;
	padding: 0.5%;
    border: 1px solid white;
    border-radius: 10px;
}

.message-list {
    list-style-type: none;
    width: 80%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding-left: 10%;
    padding-right: 5%;
}

.chat-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    background: rgb(220,173,23);
    background-color: #f2a900;
    background-image: linear-gradient(135deg, #f2a900 0%, #FF6A88 86%, #FF99AC 100%);
    border-radius: 10px;
    margin: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 60%;
    opacity: 0.9;
}
.chat-text h3 {
    margin-top: 0.5%;
    margin-bottom: 0%;
}
.chat-text h4 {
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
    text-align: start;
}

 /* User chat messeages */


.chat-text-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-end;
    border: 2px solid black;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    margin: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 60%;
    opacity: 0.9;
}

.chat-text-user h3 {
    margin-top: 0.5%;
    margin-bottom: 0%;
}
.chat-text-user h4 {
    margin-top: 4%;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.infinite-scroll-component::-webkit-scrollbar {
    width: 0.5em;
}

.infinite-scroll-component::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.infinite-scroll-component::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}